.movie-card{
    position: relative;
    width: 200px;
    height: 250px;
    background-color: #333333;
    border-radius: 5px;
}

.movie-link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .5s;
    color: #cccccc;
}

.movie-link:hover{
    color: white;
}

.movie-poster{
    width: 90%;
    height: 70%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #555555;
}

.movie-poster img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.movie-title-card{
    text-align: center;
    width: 95%;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.favorite-movie-button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    position: absolute;
    right: 10px;
    bottom: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    transition: .1s;
    font-size: 1.5em;
    color: white;
    z-index: 2;
    padding: 0;
}

.favorite{
    background-color: #1DB954;
}

.unfavorite{
    background-color: #cc0000;
}

.favorite-movie-button:hover{
    width: 52px;
    height: 52px;
    font-size: 1.6em;
}

@media screen and (max-width: 450px){
    .movie-card{
        width: 100px;
        height: 150px;
    }

    .favorite-movie-button{
        display: flex;
        width: 35px;
        height: 35px;
    }
}