.section{
    width: 95%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.section-span{
    width: 100%;
    margin: 10px 0;
}

.section-title{
    font-size: 1.8em;
    color: white;
    font-weight: bold;
    margin: 15px 0;
    box-sizing: border-box;
    padding: 0 35px;
}

.section-content-200{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.scrollable{
    overflow-y: scroll;
}
