.recommendation-item{
    width: 400px;
    min-width: 400px;
    height: 225px;
    margin: 0 10px;
    border: none;
    outline: none;
    display: flex;
    position: relative;
    z-index: 1;
}

.recommendation-item-background{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #555555;
    filter: brightness(.7);
    transition: .5s;
}

.recommendation-item-text{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    text-shadow: 2px 2px 3px black;
}

.recomendation-movie-rating-icon{
    color: yellow;
    font-size: 1em;
}

.recommendation-item-rating{
    margin: 0px 10px;
}
.recommendation-item-text-wrapper{
    width: 90%;
}

.recommendation-item-title{
    font-size: 1.5em;
    font-weight: 600;
    color: white;
}

.recommendation-item-year-rating{
    display: flex;
    font-weight: 500;
    color: #dddddd;
}

.recommendation-item-year-rating *{
    margin-right: 10px;
}

@media screen and (max-width: 800px){
    .recommendation-item{
        width: 300px;
        min-width: 300px;
        height: 169;;
    }
    
}

@media screen and (max-width: 450px){
    .recommendation-item{
        width: 200px;
        min-width: 200px;
        height: 113px;
    }
    
}